.container{
    max-width: 1200px;
    margin:0 auto;
    padding:0 20px;
}
.cnavbar{
    background-color:#2c1810;
    position:fixed;
    top:0;
    width:100%;
    z-index:10;
}
.nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color:#fff;
}
.li{
    display: flex;
    list-style: none;
    gap:2rem;

}
li a{
    color:#fff;
    text-decoration: none;

}

li a:hover{
    color: burlywood;
    cursor:pointer;
}

.hero{
    background:linear-gradient(rgba(44,24,16,0.7), rgba(44,24,16,0.7)),url('https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center / cover;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    margin-top: 60px;

}
.conthero{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.conthero h1{
    font-size:3rem;
    margin-bottom: 1rem;
}
.conthero p{
    font-size: 1.4rem;
    margin-bottom:2rem;
}
.btn{
    display:inline-block;
    padding: 12px 30px;
    background-color: burlywood;
    border-radius: 5px;
    border: none;
    cursor:pointer;
    color:#fff;
    font-size:1rem;
    transition: transform 0.7s ease;
    text-decoration: none;
}
.btn:hover{
    transform: translateY(-5px);
    background-color: rgb(254, 207, 145);
}
.sobre{
    padding:5rem 2rem;
    background-color: #f9f9f9;
    text-align: center;
}
.sobre h2{
    font-size:2.5rem;
    margin-bottom: 1rem;
    color:#2c1810

}
.sobre p{
    font-size: 1.1rem;
    max-width:800px;
    margin:0 auto;
    color:#666666a5;
}
.produtos{
    padding: 5rem 2rem;
    background-color: #fff;
}
.produtos h2{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom:3rem;
    color:#2c1810;
}
.produtosgrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap:2rem;
    max-width:1200px;
    margin:0 auto;
}
.article{
    background-color:#f9f9f9;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.7s ease;
    cursor: pointer;

}
.article:hover{
  transform:translateY(-10px);
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
}
.iconp{
    font-size: 4rem;
    margin-bottom: 1rem;
}
.preco{
    font-weight:bold;
    color:burlywood;
    font-size:1.5rem;
}
.localizacao{
    padding:5rem 2rem;
    background-color: #f9f9f9;
}
.localizacao h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom:2rem;
    color:#2c1810;
}

.contatoinfo{
    text-align: center;
    margin-bottom: 2rem;
}
.mapa {
    width: 100%;
    max-width: 800px; /* tamanho máximo do mapa */
    margin: 0 auto;   /* mantém centralizado */
    border-radius: 10px;
    overflow: hidden; /* deixa as bordas do iframe arredondadas */
}

.mapa iframe {
    width: 100%;
    height: 450px;
    border: 0;
    display: block;
}
